
Checks: >
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  readability-*,
  cert-*,
  -modernize-*,
  -cppcoreguidelines-*,
  -hicpp-*,
  -google-*,
  -fuchsia-*,
  -zircon-*,
  -abseil-*,
  -android-*,
  -llvm-*,
  -readability-identifier-naming,
  -misc-no-recursion

WarningsAsErrors: '*'

HeaderFilterRegex: '.*'

CheckOptions:
  readability-identifier-naming.FunctionCase: snake_case
  readability-identifier-naming.VariableCase: snake_case
  readability-identifier-naming.ParameterCase: snake_case
  readability-identifier-naming.GlobalVariableCase: snake_case
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.TypedefName: CamelCase