---
Checks: >
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  readability-*,
  -modernize-*,
  -cppcoreguidelines-*,
  -hicpp-*,
  -google-*,
  -fuchsia-*,
  -zircon-*,
  -abseil-*,
  -android-*,
  -llvm-*,
  -readability-identifier-naming,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-uppercase-literal-suffix,
  -readability-function-cognitive-complexity,
  -readability-braces-around-statements,
  -readability-non-const-parameter,
  -bugprone-easily-swappable-parameters,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -cert-err33-c,
  -cert-err34-c,
  -misc-no-recursion
  -readability-isolate-declaration
  -bugprone-narrowing-conversions

WarningsAsErrors: ''

HeaderFilterRegex: 'src/.*'

CheckOptions:
  readability-identifier-naming.FunctionCase: snake_case
  readability-identifier-naming.VariableCase: snake_case
  readability-identifier-naming.ParameterCase: snake_case